#content {
    --white-color: rgb(250, 247, 240);
    --lead-color: rgb(216, 210, 194);
    --brown-color: rgb(177, 116, 87);
    --black-color: rgb(74, 73, 71);

    background-color: var(--white-color);
    display: grid;
    grid-template-rows: minmax(30px, 50px) minmax(500px, 1fr) minmax(30px, 60px);
    padding: 1rem;
    gap: 1rem;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 1.2rem;
}